<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include("./common/head.ejs") %>
  <link rel='stylesheet' href='/css/signin.css' />
</head>

<body>

  <%- include("./common/header.ejs") %>


  <div class="wrap">
    <div class="signin_box">
      <div class="signin_area">
        <input type="text" placeholder="E-mail" id="inputEmail" class="form-control"><br>
        <input type="password" placeholder="Password" id="inputPassword" class="form-control"><br>
        <button class="btn btn-primary form-control" id="signinBtn">Sign in</button><br><br>
        <p>Don't have any Account?&nbsp; <a href="/signup">Sign up</a></p>
      </div>
    </div>


  </div>








  <%- include("./common/foot.ejs") %>
  <script src="js/signin.js"></script>
</body>

</html>