<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include("./common/head.ejs") %>
  <link rel='stylesheet' href='/css/signup.css' />
</head>

<body>

  <%- include("./common/header.ejs") %>

  <div class="wrap">
    <div class="signup_box">
      <div class="signup_area">
        <input type="text" placeholder="Name" id="inputName" class="form-control"><br>
        <input type="text" placeholder="E-mail" id="inputEmail" class="form-control"><br>
        <input type="password" placeholder="Password" id="inputPassword" class="form-control"><br>
        <button class="btn btn-danger form-control" id="signupBtn">Sign up</button><br><br>
      </div>
    </div>
  </div>








  <%- include("./common/foot.ejs") %>
  <script src="js/signup.js"></script>
</body>

</html>