<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include("./common/head.ejs") %>
  <link rel='stylesheet' href='/css/write.css' />
</head>

<body>

  <div class="header">
    <%- include("./common/header.ejs") %>
  </div>

  <div class="container_box">
    <div class="wrap">
      <div class="write_area">
        <input type="text" id="inputTitle" class="form-control" placeholder="Title"><br>
        <textarea name="" id="inputContent" cols="30" rows="10" class="form-control"
          placeholder="Content"></textarea><br>
        <button class="btn btn-success form-control" id="writeBtn">Write</button>
      </div>
    </div>
  </div>

  <%- include("./common/foot.ejs") %>
  <script src="/js/write.js"></script>
</body>

</html>