* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.wrap {
  width: 85%;
  margin: auto;
}

.header {
  background-color: #2d3e52;
  min-height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 50;
  right: 0;
}

.container_box {
  padding-top: 50px;
}


.function_area {
  margin-top: 20px;
  text-align: right;
}

.write_area {
  width: 50%;
  margin: auto;
  margin-top: 80px;
  text-align: center;
}

.show_area {
  margin-top: 50px;
}

.line {
  margin-top: 10px;
  border: 2px solid rgba(128, 128, 128, 0.3);
  font-family: courgette;
  font-size: 18px;
}

.index_line {
  font-family: Cardo;
  font-size: 20px;
  font-weight: bold;
}