* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Cardo;

}

.wrap {
  width: 80%;
  margin: auto;
}

.header {
  position: relative;

  padding-top: 50px;
  font-size: 20px;
  color: white;
  z-index: 2;

}

.author {
  display: inline-block;
}

.nav {
  position: absolute;
  right: 0;
  display: inline-block;


}

.link {
  padding: 0 8px;
  color: white;

}

.bold {
  font-weight: bold;
}

.intro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 800px;
  background-image: url("/img/banner.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -10;
}

.intro {
  min-height: 600px;

}

.intro::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 800px;
  background-color: RGB(69, 69, 84);
  opacity: .7;
  z-index: -5;
}

.title_intro {
  margin-top: 100px;
  font-size: 60px;
  text-align: center;
  color: white;
}

.stack {
  color: RGB(108, 192, 145);
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}

.stack_item {
  width: 25%;
  font-size: 100px;
  text-align: center;

}

.fa-slash {
  font-size: 30px;
}

a:hover {
  text-decoration: none;
  color: white;
  opacity: .5;

}

.stack_link {
  color: RGB(108, 192, 145);
  transition: .3s;
}

.stack_link:hover {
  color: RGB(108, 192, 145);
  opacity: .6;
}

.html_css,
.js,
.express {
  min-height: 900px;
}



.html_css {
  padding-top: 100px;
  padding-bottom: 100px;

}

.title {
  font-size: 80px;
}


.js {
  background-color: #f1f1f1;
}

.content_row {
  display: flex;
  justify-content: space-around;

}

.content {
  width: 50%;
  margin-top: 20px;
  text-align: center;

}

.content_img {
  width: 60%;
  height: 630px;

}

.content_link {
  transition: .3s;
}

.clone_content {
  text-align: center;

  overflow: hidden;
}

.clone {
  width: auto;
  height: 800px;
}

.boundary {
  border-top: 2px solid white;
}

.js {
  padding: 100px 0;
}

.js_content_row {
  display: flex;
  justify-content: space-between;
}

.js_row {
  width: 30%;
  text-align: center;
}

.img_box {}

.js_img {
  border-radius: 100%;
  width: 300px;
  height: 300px;

}

.img_text {
  font-size: 25px;
  margin: 10px 0;
}

.express {
  padding: 100px 0;

  font-size: 25px;
}