/* .info_area {
  margin-top: 50px;
  text-align: left;
  font-size: 40px;
  font-family: Cardo;
}

.signout_area {
  margin-top: 50px;
} */

.header {
  background-color: #2d3e52;
  min-height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 50;
  right: 0;
}

.bg {
  /* border: 1px solid gray; */
}

body {
  height: 100vh;
  background-color: #f1f1f1;
}

.container_box {
  display: flex;
  height: inherit;
}

.wrap {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;

}

.user,
.message {
  width: 48%;
  min-height: 500px;
  text-align: center;
  margin: auto;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;



}

.message {
  background-color: white;

}

.user_info {
  min-height: 150px;
  background-color: white;

}

.user_contact {
  min-height: 300px;
  background-color: white;

}