<style>
  .nav {
    position: absolute;
    right: 0;
    display: inline-block;

  }

  .link {
    padding: 0 8px;
    color: white;
    font-size: 30px;

  }

  a:hover {
    text-decoration: none;
    color: white;
    opacity: 0.5;
  }
</style>

<div class="nav">
  <a href="/" class="link">Home</a>
  <% if(sess.isLogged) { %>
  <a href="/mypage" class="link">My Page</a>
  <a href="/logout" class="link" id="logoutBtn">Log Out</a>
  <a href="/board" class="link">Board</a>

  <% }else { %>
  <a href="/signin" class="link">Sign In</a>
  <a href="/Signup" class="link">Sign Up</a>

  <% } %>

</div>